<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{entry.id}} - {{entry.date | date:'LL/MM/yyyy - HH:mm'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panelbodywrapper">
        <div class="panelcontent">
            <p>{{entry |json}}</p>
        </div>
        <div class="panelfooter">
            <button color="warn" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
            <button color="accent" mat-icon-button>
                <mat-icon>cancel</mat-icon>
            </button>
            <button color="primary" (click)="submit()" mat-icon-button>
                <mat-icon>save</mat-icon>
            </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  