<div class="app">
  <div class="appToolbar">
    <button color="primary" mat-icon-button (click)="addEntry()">
      <mat-icon>add</mat-icon>
    </button>
    <div></div>
    <button class="exportButton" color="primary" mat-raised-button (click)="export()">
      Exporter
    </button>
  </div>
  <mat-accordion>
    <div *ngFor="let e of (getEntries() | async)">
      <app-entry [entry]="e" (save)="save($event)" (delete)="delete($event)"></app-entry>
    </div>
  </mat-accordion>
  <div>
    <button mat-raised-button color="warn" (click)="deleteAll()">
      <mat-icon>delete</mat-icon> Tout supprimer
    </button>
  </div>

</div>